@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.multiSelect option:hover{
    background: green;
}

body{
    background-color: rgb(224 , 224, 224);
}

.overflow-scroll::-webkit-scrollbar {
    display: none;
  }